.bodyPane {
	-fx-background-color: #18675f;
	-fx-background: #18675f;
}
.scrollPane {
	-fx-background: rgba(255,255,255,0.16);
	-fx-background-color: rgba(255,255,255,0.16);
}
.questionVBox {
	-fx-background-color: #229186;
	-fx-background-radius: 10 0 10 0;
}
.textAreaAbout,
.textAreaHelp {
    -fx-font-size: 22px;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
	-fx-font-weight: bold;
	-fx-text-alignment: justify;
}
.textAreaAbout .content,
.textAreaHelp .content {
	-fx-background-color: #18675f;
	-fx-text-alignment: justify;
}
.check-box {
	-fx-text-fill: #ffffff;
}
.check-box .mark {
	-fx-mark-highlight-color: white;
	-fx-mark-color: #18675f;
}
.radio-button {
	-fx-text-fill: #ffffff;
}
.radio-button .radio,
.check-box .box {
	-fx-background-color: #2cbaac;
}
.radio-button .dot {
	-fx-mark-highlight-color: white;
	-fx-mark-color: #18675f;
}
.split-pane *.split-pane-divider {
    -fx-padding: 0;
}
.button {
	-fx-background-color: #229186;
	-fx-text-fill: #ffffff;
	-fx-font-size: 13px;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,.18) , 0,0,1,1);
	-fx-background-radius: 10 10 10 10;
}
.increment-arrow-button,
.decrement-arrow-button {
	-fx-font-weight: bold;
	-fx-background-color: #2cbaac;
}
.increment-arrow-button .increment-arrow,
 .decrement-arrow-button .decrement-arrow{
	-fx-background-color: #ffffff;
}
.listingPaneLabel {
	-fx-text-fill: rgb(245, 245, 245);
	-fx-font-size: 22px;
	-fx-font-weight: bold;
}
.menuBar {
	-fx-background-color: #0f3e39;
}
.menuBarChart {
	-fx-background-color: #0f3e39;
}
.chart-content {
	-fx-background-color: rgba(255,255,255,0.5);
}
.menu .label {
	-fx-text-fill: #ffffff;
}
.label{
	-fx-text-fill: #ffffff;
}
.menu-item {
	-fx-background-color: #229186;
	-fx-padding: 5 40 5 40;
}
.menu-item:hover ,
.menu:hover,
.menu:showing {
	-fx-background-color: #ffffff;
}
.menu-item:hover .label,
.menu:hover .label,
.menu:showing .label{
	-fx-text-fill: #000000;
}
.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #229186;
	-fx-padding: 0;
}
.text-field {
	-fx-font-weight: bold;
}
.listingsSplit {
	-fx-background-color: #18675f;
}
.listingsPaneListView {
	-fx-background-color: rgba(255,255,255,0.4);
}
.listingsPaneListView .list-cell:pressed{
	-fx-background-color: #98e7df;
	-fx-text-fill: #000000;
}
.listingsPaneListView .list-cell:focused{
	-fx-background-color: #0f3e39;
	-fx-text-fill: #ffffff;
}
.list-cell {
	-fx-text-fill: #000000;
}
.rootVBox {
	-fx-background-color: #18675f;
}